<!--<input type="file" webkitdirectory directory multiple/>-->
<!--<input type="file" webkitdirectory mozdirectory msdirectory odirectory directory />-->
<input type="file" id="FilesUpload" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
<div class="clearfix">
  <div class="pull-right tableTools-container">
    <div class="btn-group btn-overlap">
      <div class="ColVis btn-group" title="" data-original-title="Show/hide columns"><button class="ColVis_Button ColVis_MasterButton btn btn-white btn-info btn-bold"><span><i class="fa fa-search"></i></span></button></div>
      <a class="DTTT_button btn btn-white btn-primary  btn-bold" id="ToolTables_dynamic-table_3" title="" tabindex="0" aria-controls="dynamic-table"
        data-original-title="Print view"><span><i class="fa fa-print bigger-110 grey"></i></span></a>
    </div>
  </div>
</div>
<div class="table-header">
  Sistema de env&iacute;o de correos masivos
</div>

<!-- div.table-responsive -->

<!-- div.dataTables_borderWrap -->
<div>
  <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
    <table id="simple-table" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Archivo</th>
          <th>Enviar a</th>
          <th class="hidden-480">Razon Social</th>
          <th>
            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i> Estado
          </th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            3000004521.pdf
          </td>
          <td>ebertunerg@gmail.com</td>
          <td class="hidden-480">Ebert Manuel Zerpa Figueroa</td>
          <td class="hidden-480">
            <span class="label label-sm label-warning">Expiring</span>
          </td>

          <td>
            <div class="hidden-sm hidden-xs btn-group">
              <!--<button class="btn btn-xs btn-success">
                <i class="ace-icon fa fa-check bigger-120"></i>
              </button>-->

              <!--<button class="btn btn-xs btn-info">
                <i class="ace-icon fa fa-pencil bigger-120"></i>
              </button>-->

              <button class="btn btn-xs btn-danger">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </button>

              <!--<button class="btn btn-xs btn-warning">
                <i class="ace-icon fa fa-flag bigger-120"></i>
              </button>-->
            </div>

            <div class="hidden-md hidden-lg">
              <div class="inline pos-rel">
                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
																	<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
																</button>

                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                  <li>
                    <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
																		</a>
                  </li>

                  <li>
                    <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
																		</a>
                  </li>

                  <li>
                    <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
																		</a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngFor = "let archivo of archivos">
          <td>
            {{archivo.name}}
          </td>
          <td>
            {{archivo.emails}}
          </td>
          <td class="hidden-480">{{archivo.razonsocial}}</td>
          <td class="hidden-480">
            <span class="label label-sm label-warning">Pendiente</span>
          </td>

          <td>
            <div class="hidden-sm hidden-xs btn-group">
              <!--<button class="btn btn-xs btn-success">
                <i class="ace-icon fa fa-check bigger-120"></i>
              </button>-->

              <!--<button class="btn btn-xs btn-info">
                <i class="ace-icon fa fa-pencil bigger-120"></i>
              </button>-->

              <button class="btn btn-xs btn-danger">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </button>

              <!--<button class="btn btn-xs btn-warning">
                <i class="ace-icon fa fa-flag bigger-120"></i>
              </button>-->
            </div>

           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>